<div id="contracts" class='grid_12 page boxit'>	
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>No. Contrato</th>	
      <th>Titular</th>
      <th>Precio</th>
      <th>Estatus</th>
    </tr>		
    <tbody class='sensors content'>
      <%= render @contracts%>
    </tbody>		
  </table> 
</div>
