<div id="header">
  <div id="header-inside">
    <div id="header-content">
      <div id="header-top" class='container_12'>
	<div id="logo" class='grid_6'>           
	</div>
        <div id="user-menu" class=''> 
	</div>
      </div>
    </div>
    <div id="menu">
      <ul class='container_12'>
        <li class='blank first'></li>
	<li><%= link_to "Vendedores", sellers_path %></li>
        <li class='blank last'></li>
      </u>
    </div>
  </div>
</div>
